<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :タイトル, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :概要欄, style: "display: block" %>
    <%= form.text_area :memo %>
  </div>
  
  <div class="field">
    <%= form.label :写真 %>
    <%= form.file_field :image %>
  </div>

  <div>
    <input type="submit" value="新規投稿">
  </div>
<% end %>
