<p style="color: green"><%= notice %></p>

<%=  @blog %>

<div>
  <%= link_to "Edit this blog", "/blog" %> |
  <%= link_to "Back to blogs", "/blog" %>

  <%= button_to "ブログの削除", @blog, method: :delete %>
</div>
