<!DOCTYPE html>
<html>
  <head>
    <title>ActiveStorage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to("写真投稿アプリ","/home/top")%>
      <ul>
        <li>
          <%= link_to("写真投稿アプリとは","/home/about")%>
        </li>
        <li>
          <%= link_to("投稿一覧","/")%>
        </li>
        <li>
          <%= link_to("ユーザー一覧","/user/index")%>
        </li>
        <li>
          <%= link_to("ユーザー新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        
      </ul>
    </header>
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
    <%= yield %>
  </body>
</html>
